*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Inicio Navbar */
.navBg {
	background-color: #651d90;
}

.logo {
	height: 55px;
}
/* Fin Navbar */

/* Inicio Nosotros */
.mvv {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1.5rem;
}

.imgMission,
.imgVision,
.imgValues {
	width: 6rem;
}

.imgRealtor {
	height: 10rem;
	border-radius: 50%;
}
/* Fin Nosotros */

/* Inicio Usuarios */
.title {
	font-size: 1.6rem;
	margin: 1rem 0;
}

.errorValidation {
	color: red;
	font-size: 0.8rem;
	margin-top: 0.5rem;
}

.message {
	color: #27ae60;
	text-align: center;
	margin: 1rem 0;
	font-weight: 600;
}
/* Fin Usuarios */
